@model WebSeite.Models.AnschriftGeschaeft

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AnschriftGeschaeft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnschriftGeschaeftID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kundennummer" class="control-label"></label>
                <input asp-for="Kundennummer" class="form-control" />
                <span asp-validation-for="Kundennummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strasse" class="control-label"></label>
                <input asp-for="Strasse" class="form-control" />
                <span asp-validation-for="Strasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hausnummer" class="control-label"></label>
                <input asp-for="Hausnummer" class="form-control" />
                <span asp-validation-for="Hausnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PLZ" class="control-label"></label>
                <input asp-for="PLZ" class="form-control" />
                <span asp-validation-for="PLZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zusatz" class="control-label"></label>
                <input asp-for="Zusatz" class="form-control" />
                <span asp-validation-for="Zusatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Homepage" class="control-label"></label>
                <input asp-for="Homepage" class="form-control" />
                <span asp-validation-for="Homepage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefonnummer" class="control-label"></label>
                <input asp-for="Telefonnummer" class="form-control" />
                <span asp-validation-for="Telefonnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Handy" class="control-label"></label>
                <input asp-for="Handy" class="form-control" />
                <span asp-validation-for="Handy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenMontag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenMontag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenMontag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenDienstag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenDienstag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenDienstag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenMittwoch" class="control-label"></label>
                <input asp-for="OeffnungsZeitenMittwoch" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenMittwoch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenDonnerstag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenDonnerstag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenDonnerstag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenFreitag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenFreitag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenFreitag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenSamstag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenSamstag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenSamstag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OeffnungsZeitenSonntag" class="control-label"></label>
                <input asp-for="OeffnungsZeitenSonntag" class="form-control" />
                <span asp-validation-for="OeffnungsZeitenSonntag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
