@model WebSeite.Models.Preis

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Preis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PreisId" />
            <div class="form-group">
                <label asp-for="Kosten" class="control-label"></label>
                <input asp-for="Kosten" class="form-control" />
                <span asp-validation-for="Kosten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreisDatum" class="control-label"></label>
                <input asp-for="PreisDatum" class="form-control" />
                <span asp-validation-for="PreisDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProduktId" class="control-label"></label>
                <select asp-for="ProduktId" class="form-control" asp-items="ViewBag.ProduktId"></select>
                <span asp-validation-for="ProduktId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnschriftGeschaeftID" class="control-label"></label>
                <select asp-for="AnschriftGeschaeftID" class="form-control" asp-items="ViewBag.AnschriftGeschaeftID"></select>
                <span asp-validation-for="AnschriftGeschaeftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
